:root{
    --main-bg-color:#2C3E50;
    --second-bg-color: #0A192F;
    --main-text-color: #D0D3D4;
    --second-text-color: #F4D03F;
    --card-color: #FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar1{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding:10px;
    background-color: var(--second-bg-color);
    color: var(--second-text-color);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar2{
    display: flex;
    flex-flow: row;
    gap: 20px;
    text-decoration: none;
    list-style: none;
}

.navbar2 a {
    text-decoration: none;
    color: var(--second-text-color);
    font-weight: bold;
}
.links{
    text-decoration: none;
}
.banner{
    display: flex;
    height: 300px;
    width: 100%;
    background-color: var(--second-bg-color);
    color: var(--second-text-color);
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-weight: bold;
}
.main{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 60px;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 100vh;
}
.hidden2{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.hidden1{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.foto{
    grid-column: span 1;
    height: 250px;
    border-radius: 15%;
    margin-left: 30px;
    margin-top: 100px;
}
.parrafo1{
    grid-column: span 3;
    color: var(--main-text-color);
    padding: 100px 50px 0px;
}
.parrafo2{
    grid-column-start: 1;
    grid-column-end: 5;
    color: var(--main-text-color);
    margin-top: 150px;
    padding: 0px 20px;
}
.logoscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.logos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.logo{
    height: 200px;
    width: 200px;
    margin-top: 40px;
}

.foto2{
    grid-column-start: 4;
    grid-column-end: 5;
    height: 250px;
    border-radius: 50%;
}
.parrafo3{
    grid-column-start: 1;
    grid-column-end: 4;
    color: var(--main-text-color);
    margin-top: 150px;
    padding: 30px 20px;
}

.card{
    border-radius: 5px;
    background-color: var(--card-color);
    width: 700px;
    height: 350px;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.footer{
    display: flex;
    background-color: var(--second-bg-color);
    color: var(--main-text-color);
    flex-flow: row;
    justify-content: flex-end;
    width: 100%;
    height: 75px;
}
.footer ul{
    display: flex;
    flex-flow: row;
    gap: 50px;
}

h2, h1{
    color: var(--second-text-color);
    font-weight: bold;
}

h3{
    color: var(--main-text-color);
    font-weight: bold;
}

.carrusel button{
    color: var(--main-text-color);
    font-weight: bold;
}

.hamburger{
    display: none;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: var(--second-text-color);
    transition: transform 0.3s ease;
}

.hidden{
    transform: translateX(0%);
}

@media (max-width: 768px){
    .hamburger{
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 0.3s ease;
        position: fixed;
        left: 20px;
        top: 45px;
        z-index: 200;
    }
    
    .change .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .change .bar:nth-child(2) {
        transform: scaleX(0);
    }
    
    .change .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        background-color: var(--main-bg-color);
        overflow-x: hidden;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 100vh;
    }
    .foto {
        height: 150px;
        border-radius: 50%;
        margin-left: 30px;
        margin-top: 100px;
        z-index: 0;
    }
    .parrafo1, .parrafo2, .parrafo3 {
        color: var(--main-text-color);
        padding: 100px 50px 0px;
        z-index: 0;
    }
    .parrafo3{
        padding-bottom: 30px;
    }
    
    .navbar1 {
        position: fixed;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        height: 100%;
        width: 200px;
        background-color: #333;
        transition: transform 0.3s ease-in-out;
        padding-top: 100px;
        padding-bottom: 100px;
        z-index: 100;
    }
    .hidden{
        transform: translateX(-100%);
    }
    .visible{
        transform: translateX(0%);
    }
    .navbar2{
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-decoration: none;
        list-style: none;
    }
}
